body{
    background: darkgreen;
}
h1{
    color:lightcoral;
    text-align:center;
    background: black;

}
p{
    background: lightblue;
}
#a{
    background: lightsalmon;
}
.z{
    background: lightpink;
}